@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.Controllers

@model HerPublicWebsite.Models.Questionnaire.ConfirmLocalAuthorityViewModel
@{
    ViewBag.Title = "Confirm your local authority";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
           {
               Text = "Back",
               Href = Model.BackLink,
           })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Confirm you local authority
        </h1>
        
        <p class="govuk-body">You've selected <strong>@Model.LocalAuthorityName</strong> as your local authority.</p>

        <form action="@Url.Action(nameof(QuestionnaireController.ConfirmLocalAuthority_Post), "Questionnaire")" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()

            @await Html.GovUkRadiosFor(m => m.LaIsCorrect,
                       fieldsetOptions: new FieldsetViewModel()
                       {
                           Legend = new LegendViewModel()
                           {
                               Text = "Is this correct?",
                               Classes = "govuk-fieldset__legend--m"
                           }
                       })


            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
            }))
        </form>
    </div>
</div>
