@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.Controllers

@model HerPublicWebsite.Models.Questionnaire.ConfirmationViewModel

@{
    ViewBag.Title = "Application submitted";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @await Html.GovUkPanel(new PanelViewModel
        {
            TitleText = "Application submitted",
            Html = @<text>Reference code: <strong>@Model.ReferenceCode</strong></text>
        })
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @if (!string.IsNullOrEmpty(Model.ConfirmationEmailAddress))
        {
            <p class="govuk-body">You will receive an email confirmation at <strong>@Model.ConfirmationEmailAddress</strong></p>
        }

        <h2 class="govuk-heading-l">What happens next</h2>

        <p class="govuk-body"><strong>@Model.LocalAuthorityName council or their official contractor</strong> will process
            your details and contact you if they need any more information on the contact details you proviced.</p>

        @await Html.GovUkInsetText(new InsetTextViewModel
               {
                   Text = "Your local authority or their official contractor will contact you within 10 working days."
               })

        <p class="govuk-body">To enquire about your application visit <a href="@Model.LocalAuthorityWebsite">@Model.LocalAuthorityName council's website</a>.</p>

        @if (Model.EmailPreferenceSubmitted)
        {
            @await Html.GovUkNotificationBanner(new NotificationBannerViewModel
                   {
                       TitleText = "Success",
                       Text = "Your answers have been submitted.",
                       Classes = "govuk-notification-banner--success"
                   })
        }
        else
        {
            <form action="@Url.Action(nameof(QuestionnaireController.Confirmation_Post), "Questionnaire")" method="post" novalidate>
                @(Html.HiddenFor(m => m.EntryPoint))
                @Html.AntiForgeryToken()

                @await Html.GovUkRadiosFor(
                           m => m.CanNotifyAboutFutureSchemes,
                           fieldsetOptions: new FieldsetViewModel
                           {
                               Legend = new LegendViewModel
                               {
                                   Text = "Can we email you about future energy grants?",
                                   Classes = "govuk-fieldset__legend--m",
                               },
                           },
                           new HintViewModel
                           {
                               Text = "We will only email you when new grants for homes become available."
                           }
                           )

                <div class="govuk-button-group">
                    @(await Html.GovUkButton(new ButtonViewModel
                    {
                        Text = "Submit",
                    }))
                </div>
            </form>
        }

        <h3 class="govuk-heading-s">Give feeback</h3>

        <p class="govuk-body">This service is under active development.</p>

        <p class="govuk-body">Feedback can help us shape the service, best serving public need.</p>

        <p class="govuk-body"><a href="@Constants.FEEDBACK_URL_DEFAULT">Tell us your opinion</a></p>

    </div>
</div>
