@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using WhlgPublicWebsite.BusinessLogic.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WhlgPublicWebsite.Controllers
@using WhlgPublicWebsite.Models.Enums

@model WhlgPublicWebsite.Models.Questionnaire.IneligibleViewModel

@{
    ViewBag.Title = "You are not eligible";

    Func<object, object> otherGovernmentSchemesSection =
        @<text>
             <h2 class="govuk-heading-m">Other government schemes</h2>
             @if (!Model.EpcIsTooHigh)
             {
                 <p class="govuk-body">If you are on certain benefits you might be eligible for <a class="govuk-link" href="https://www.gov.uk/energy-company-obligation">Energy Company Obligation (ECO)</a>.</p>
             }
             <p class="govuk-body">
                 You can also check if you might be eligible for the
                 <a class="govuk-link" href="https://www.gov.uk/apply-boiler-upgrade-scheme/check-if-youre-eligible">Boiler Upgrade Scheme (BUS)</a>
                 or the <a target="_blank" href="https://www.gov.uk/apply-great-british-insulation-scheme">Great British Insulation Scheme</a>.
             </p>
    </text>;

    Func<object, object> contactYourLaSection =
        @<text>
             <h2 class="govuk-heading-m">Contact your Local Authority</h2>
             <p class="govuk-body">
                 <a class="govuk-link" href="@Model.LocalAuthorityWebsite">@Model.LocalAuthorityName</a> might have
                 additional grants or supports available. Contact them to find out more or visit their website.
             </p>
             <p class="govuk-body">
                 Based on the postcode and address you provided, your Local Authority is <a class="govuk-link" href="@Model.LocalAuthorityWebsite">@Model.LocalAuthorityName</a>.
                 If this does not look right, you can <a class="govuk-link" href="https://www.gov.uk/find-local-council">find your local council here</a>.
             </p>
    </text>;

    Func<object, object> yourLaMayBeAbleToHelpSection =
        @<text>
             <h2 class="govuk-heading-m">Your Local Authority may be able to help</h2>
             <p class="govuk-body">
                 Many local authorities have additional support available and can determine your eligibility using different
                 methods. Contact <a class="govuk-link" href="@Model.LocalAuthorityWebsite">@Model.LocalAuthorityName</a>
                 to find out what support you could get.
             </p>
             <p class="govuk-body">
                 Based on the postcode and address you provided, your Local Authority is <a class="govuk-link" href="@Model.LocalAuthorityWebsite">@Model.LocalAuthorityName</a>.
                 If this does not look right, you can <a class="govuk-link" href="https://www.gov.uk/find-local-council">find your local council here</a>.
             </p>
    </text>;

    var incomeHighButEpcLow = !Model.EpcIsTooHigh && Model.IncomeIsTooHigh;
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">We do not think you are eligible</h1>

        <p class="govuk-body">
            @{
                switch (Model.EpcIsTooHigh, Model.IncomeIsTooHigh)
                {
                    case (true, false):
                        <text>
                            We do not think you are eligible for the Warm Homes: Local Grant because your
                            EPC rating is A, B, or C but you may be able to get other help for your energy needs.
                        </text>
                        break;
                    default:
                        <text>
                            We do not think you are eligible for the Warm Homes: Local Grant because your
                            income is more than £36,000 but you may be able to get other help for your energy needs.
                        </text>
                        break;
                }
            }
        </p>

        @if (incomeHighButEpcLow)
        {
            @yourLaMayBeAbleToHelpSection(new object())
        }
        else
        {
            @otherGovernmentSchemesSection(new object())
        }

        @if (Model.Submitted)
        {
            @await Html.GovUkNotificationBanner(
                new NotificationBannerViewModel
                {
                    Type = "success",
                    TitleText = "Success",
                    Text = "Your contact details have been submitted.",
                    Role = "alert"
                }
            )
        }
        else
        {
            <form action="@Url.Action(nameof(QuestionnaireController.Ineligible_Post), "Questionnaire")" method="post" novalidate>
                @(Html.HiddenFor(m => m.EntryPoint))
                @Html.AntiForgeryToken()

                @await Html.GovUkRadiosFor(
                    m => m.CanContactByEmailAboutFutureSchemes,
                    fieldsetOptions: new FieldsetViewModel
                    {
                        Legend = new LegendViewModel
                        {
                            Html = @<text>
                                        <h2 class="govuk-fieldset__legend--m">Can we email you about future energy grants?</h2>
                                        <p class="govuk-body">We will only email you when new grants for homes become available.</p>
                                    </text>
                        }
                    },
                    conditionalOptions: new Dictionary<YesOrNo, Conditional>
                    {
                        {
                            YesOrNo.Yes,
                            new Conditional
                            {
                                Html = (@<text>
                                             @await Html.GovUkTextInputFor(
                                                 m => m.EmailAddress,
                                                 new LabelViewModel
                                                 {
                                                     Text = "Email address"
                                                 },
                                                 classes: "govuk-input govuk-input--width-20",
                                                 autocomplete: "email")
                                         </text>)
                            }
                        }
                    })
                <div class="govuk-button-group">
                    @(await Html.GovUkButton(new ButtonViewModel
                    {
                        Text = "Submit"
                    }))
                </div>
            </form>
        }

        @if (incomeHighButEpcLow)
        {
            @otherGovernmentSchemesSection(new object())
        }
        else
        {
            @contactYourLaSection(new object())
        }

        <h2 class="govuk-heading-m">Find further support</h2>
        <p class="govuk-body">
            Other ways you might save energy can be found by:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                using the
                <a class="govuk-link" href="https://helpforhouseholds.campaign.gov.uk/energy-saving-advice/">
                    Find ways to save energy in your home
                </a> service to get recommendations for home improvements that could make your property cheaper to heat.
            </li>
            <li>
                visiting the
                <a class="govuk-link" href="https://energysavingtrust.org.uk/energy-at-home/">Energy Saving Trust</a>,
                <a class="govuk-link" href="https://www.ofgem.gov.uk/information-consumers/energy-advice-households/find-schemes-grants-and-benefits-help-home-energy">Ofgem</a>, and <a class="govuk-link" href="https://www.citizensadvice.org.uk/consumer/energy/energy-supply/">Citizens Advice</a>
                websites for more ways to save energy and reduce your bills.
            </li>
        </ul>
    </div>
</div>