@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using WhlgPublicWebsite.Controllers
@using WhlgPublicWebsite.Models.Enums
@model WhlgPublicWebsite.Models.Questionnaire.NoFundingViewModel

@{
    ViewBag.Title = "Your Local Authority is not taking part";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your Local Authority is not taking part in the Warm Homes: Local Grant</h1>

        <h2 class="govuk-heading-m">What to do next</h2>

        <p class="govuk-body">
            Based on the information you provided, it looks like your Local Authority, <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>, is not taking part in the Warm Homes: Local Grant.
        </p>

        <p class="govuk-body">
            If your Local Authority does not seem right, <a class="govuk-link" href="https://www.gov.uk/find-local-council">find your correct Local Authority</a> and contact them directly.
        </p>

        @if (Model.Submitted)
        {
            @await Html.GovUkNotificationBanner(
                new NotificationBannerViewModel
                {
                    Type = "success",
                    TitleText = "Success",
                    Text = Model.CanContactByEmailAboutFutureSchemes is YesOrNo.Yes ? "Your contact details have been submitted." : "Your contact details have not been submitted.",
                    Role = "alert"
                }
            )
        }
        else
        {
            <form action="@Url.Action(nameof(QuestionnaireController.NoFunding_Post), "Questionnaire")" method="post" novalidate>
                @(Html.HiddenFor(m => m.EntryPoint))
                @Html.AntiForgeryToken()

                @await Html.GovUkRadiosFor(
                    m => m.CanContactByEmailAboutFutureSchemes,
                    fieldsetOptions: new FieldsetViewModel
                    {
                        Legend = new LegendViewModel
                        {
                            Html = @<text>
                                        <h2 class="govuk-fieldset__legend--m">Can we email you about future energy grants?</h2>
                                        <p class="govuk-body">We will only email you when new grants for homes become available.</p>
                                    </text>
                        }
                    },
                    conditionalOptions: new Dictionary<YesOrNo, Conditional>
                    {
                        {
                            YesOrNo.Yes,
                            new Conditional
                            {
                                Html = (@<text>
                                             @await Html.GovUkTextInputFor(
                                                 m => m.EmailAddress,
                                                 new LabelViewModel
                                                 {
                                                     Text = "Email address"
                                                 },
                                                 classes: "govuk-input govuk-input--width-20",
                                                 autocomplete: "email")
                                         </text>)
                            }
                        }
                    })
                <div class="govuk-button-group">
                    @(await Html.GovUkButton(new ButtonViewModel
                    {
                        Text = "Submit"
                    }))
                </div>
            </form>
        }

        <h2 class="govuk-heading-m">You might be able to get help from your energy supplier</h2>
        <p class="govuk-body">
            Check if you are eligible for the
            <a class="govuk-link" href="https://www.gov.uk/apply-great-british-insulation-scheme">Great British Insulation Scheme</a>
            or the <a class="govuk-link" href="https://www.gov.uk/energy-company-obligation">Energy Company Obligation</a> scheme.
        </p>
    </div>
</div>