@using GovUkDesignSystem
@using GovUkDesignSystem.Attributes
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using WhlgPublicWebsite.BusinessLogic.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WhlgPublicWebsite.Controllers

@model WhlgPublicWebsite.Models.Questionnaire.OwnershipStatusViewModel
@{
    ViewBag.Title = "Ownership status";
}

@section BeforeMain {
    <nav>
        @await Html.GovUkBackLink(new BackLinkViewModel
        {
            Text = "Back",
            Href = Model.BackLink
        })
    </nav>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="@Url.Action(nameof(QuestionnaireController.OwnershipStatus_Post), "Questionnaire")" method="post" novalidate>
            @Html.AntiForgeryToken()
            @(Html.HiddenFor(m => m.EntryPoint))

            @await Html.GovUkRadiosFor(m => m.OwnershipStatus,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Do you own your property?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                                <p class="govuk-body">
                                    If you have a <a href="https://www.gov.uk/shared-ownership-scheme">shared ownership property,</a> please select "@Model.SharedOwnershipAnswerLabel".
                                </p>
                            </text>
                })

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            }))

        </form>

    </div>
</div>