@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WhlgPublicWebsite.Controllers
@model WhlgPublicWebsite.Models.Questionnaire.PendingViewModel

@{
    ViewBag.Title = "Your Local Authority is not ready to process applications yet";
}

@section BeforeMain {
    <nav>
        @await Html.GovUkBackLink(new BackLinkViewModel
        {
            Text = "Back",
            Href = Model.BackLink
        })
    </nav>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Your Local Authority is receiving applications but is not ready to process them yet</h1>

        <h2 class="govuk-heading-m">What to do next</h2>

        <p class="govuk-body">
            Based on the information you have provided, it looks like your Local Authority,
            <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>,
            is not signed up to use this service yet.
            This means that you can create an application, but they won't process it until they've signed up for the service.
        </p>
        <p class="govuk-body">
            You will receive monthly updates from the Department of Energy Security and Net Zero
            about the progress of your Local Authority signing up to use the service.
        </p>

        <p class="govuk-body">
            If your Local Authority does not seem to be right, <a class="govuk-link" href="https://www.gov.uk/find-local-council">find your correct Local Authority</a> and contact them directly.
        </p>

        <form action="@Url.Action(nameof(QuestionnaireController.Pending_Post), "Questionnaire")" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()

            @await Html.GovUkCheckboxFromBoolFor(m => m.UserAcknowledgedPending,
                new LabelViewModel
                {
                    Text = "I want to create a referral and acknowledge that my application will not be processed until my Local Authority is signed up to use the service"
                })
            <div class="govuk-button-group">
                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Submit"
                }))
            </div>
        </form>
    </div>
</div>