@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using WhlgPublicWebsite.Controllers

@model WhlgPublicWebsite.Models.Questionnaire.SelectLocalAuthorityViewModel
@{
    ViewBag.Title = "Select your Local Authority";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">Select your Local Authority</h1>
        
        @if (Model.LocalAuthoritiesByInitial.Count > 0)
        {
            <div class="her_alphabet_links">
                @{
                    var orderedLetters = Model.LocalAuthoritiesByInitial.Keys.OrderBy(k => k).ToList();
                }
                <div class="her_alphabet_links__row">
                    @foreach(var letter in orderedLetters)
                    {
                        <span class="her_alphabet_links__letter"><a class="govuk-link govuk-!-font-size-19 govuk-!-font-weight-bold" href="#@letter">@letter</a></span>
                    }
                </div>
            </div>
        }

        <form action="@Url.Action(nameof(QuestionnaireController.SelectLocalAuthority_Get), "Questionnaire")" method="get" novalidate>
            @if (Model.EntryPoint is not null)
            {
                @(Html.HiddenFor(m => m.EntryPoint))
            }

            <h2 class="govuk-heading-s">
                Search for a Local Authority
            </h2>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters-from-desktop">
                    @await Html.GovUkTextInputFor(m => m.SearchTerm)
                </div>
                <div class="govuk-grid-column-one-quarter-from-desktop">
                    @(await Html.GovUkButton(new ButtonViewModel
                    {
                        Text = "Search",
                    }))
                </div>
            </div>
        </form>
        
        @if (Model.LocalAuthoritiesByInitial.Count > 0)
        {
            @foreach (var localAuthoritiesForInitial in Model.LocalAuthoritiesByInitial.ToList().OrderBy(k => k.Key))
            {
                var orderedLaDetails = localAuthoritiesForInitial.Value.OrderBy(lad => lad.Name).ToList();
                var linksInFirstColumn = Math.Max((orderedLaDetails.Count + 1) / 2, 8);
                <div id="@localAuthoritiesForInitial.Key" class="her_local_authority_section">
                    <h2 class="govuk-heading-s">@localAuthoritiesForInitial.Key<hr/></h2>
                
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            @foreach (var laDetails in orderedLaDetails.Take(linksInFirstColumn))
                            {
                                <a class="govuk-link govuk-!-font-size-19" href="@Url.Action(nameof(QuestionnaireController.LocalAuthoritySelected_Get), "Questionnaire", new { custodianCode = laDetails.CustodianCode, entryPoint = Model.EntryPoint })">@laDetails.Name</a>
                                <br/>
                            }
                        </div>
                        <div class="govuk-grid-column-one-half">
                            @foreach (var laDetails in orderedLaDetails.Skip(linksInFirstColumn))
                            {
                                <a class="govuk-link govuk-!-font-size-19" href="@Url.Action(nameof(QuestionnaireController.LocalAuthoritySelected_Get), "Questionnaire", new { custodianCode = laDetails.CustodianCode, entryPoint = Model.EntryPoint })">@laDetails.Name</a>
                                <br/>
                            }
                        </div>
                    </div>
                </div> 
            }
        }
        else
        {
            <p class="govuk-body govuk-!-font-weight-bold">
                No local authorities match the given search term.
            </p>
        }

    </div>
</div>
