@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WhlgPublicWebsite.Controllers

@model WhlgPublicWebsite.Models.ReferralRequestFollowUp.ReferralRequestFollowUpResponsePageViewModel

@{
    ViewBag.Title = "Referral follow up";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-m"><strong class="govuk-!-font-weight-bold">Reference code:</strong> @Model.ReferralCode</p>
        <div class="govuk-body">
            <p>Thank you for taking part in the WH:LG Eligibility Checker on @Model.RequestDate.ToShortDateString().</p>
            <p>We are writing to check whether you have been contacted by your Local Authority (or their official contractor) in the last 10 working days.</p>
            <p>Please do not submit a response to this question if at the time of submitting a referral you were told that your Local Authority is receiving applications but is not ready to process them yet. You will receive monthly updates from the Department of Energy Security and Net Zero about the status of your referral.</p>
            <p>Please indicate in the boxes below whether you have been contacted:</p>
        </div>
        <form action="@Url.Action(nameof(ReferralRequestFollowUpController.RespondPage_Post), "ReferralRequestFollowUp")" method="post" novalidate>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Token)
            @await Html.GovUkRadiosFor(
                m => m.HasFollowedUp,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Have you been contacted by your Local Authority (or their official contractor)?",
                        Classes = "govuk-fieldset__legend--m",
                    },
                })
            <div class="govuk-button-group">
                @(await Html.GovUkButton(new ButtonViewModel
                        {
                            Text = "Submit",
                        }))
            </div>
        </form>
    </div>
</div>
