@using GovUkDesignSystem
@using GovUkDesignSystem.Attributes
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using HerPublicWebsite.BusinessLogic.Models.Enums
@using HerPublicWebsite.Controllers
@using HerPublicWebsite.Services

@model HerPublicWebsite.Models.EnergyEfficiency.CheckYourUnchangeableAnswersViewModel
@{
    ViewBag.Title = "Check your unchangeable answers";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

@{
    var rows = new List<SummaryListRowViewModel>();
 
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Building type"
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Html = (@<text>
                        @(Model.PropertyData.PropertyType == PropertyType.House ? GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.PropertyData.HouseType) : null)
                        @(Model.PropertyData.PropertyType == PropertyType.Bungalow ? GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.PropertyData.BungalowType) : null)
                        @(Model.PropertyData.PropertyType == PropertyType.ApartmentFlatOrMaisonette ? GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.PropertyData.FlatType) : null)
                        @(GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.PropertyData.PropertyType).ToLower())
                     </text>)
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = Url.Action(nameof(EnergyEfficiencyController.PropertyType_Get), "EnergyEfficiency", new {reference = Model.PropertyData.Reference, entryPoint = QuestionFlowStep.PropertyType}),
                    Text = "Change",
                    VisuallyHiddenText = "address"
                }
            }
        }
    });
    
    rows.Add(new()
    {
        Key = new() 
        {
            Classes = "govuk-!-width-one-quarter",
            Text = "Year home was built"
        },
        Value = new()
        {
            Classes = "govuk-!-width-one-half",
            Text = Model.PropertyData.YearBuilt.HasValue ? GovUkRadioCheckboxLabelTextAttribute.GetLabelText(Model.PropertyData.YearBuilt) : null,
        },
        Actions = new()
        {
            Classes = "govuk-!-width-one-quarter",
            Items = new()
            {
                new()
                {
                    Href = @Url.Action(nameof(EnergyEfficiencyController.HomeAge_Get), "EnergyEfficiency", new {reference = Model.PropertyData.Reference, entryPoint = QuestionFlowStep.HomeAge}),
                    Text = "Change",
                    VisuallyHiddenText = "home type"
                }
            }
        }
    });
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Check your answers before continuing
        </h1>
        
        @await Html.GovUkHint(new HintViewModel
        {
            Text = "Your responses to these questions cannot be changed beyond this point without starting again. Please check they are correct before continuing."
        })
        
        @(await Html.GovUkSummaryList(new SummaryListViewModel
        {
            Rows = rows
        }))
        
        @await Html.GovUkButton(new ButtonViewModel
        {
            Href = Model.ForwardLink,
            Text = "Continue"
        })
    </div>
</div>