@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.BusinessLogic.Models.Enums
@using HerPublicWebsite.Controllers

@model HerPublicWebsite.Models.EnergyEfficiency.HeatingTypeViewModel;
@{
    ViewBag.Title = "Heating Type";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.HeatingType_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details = 
                    @<text>
                        <p class="govuk-body">
                            Most people in England and Wales heat their home with a gas boiler.
                        </p>
                        <p class="govuk-body">
                            People who have an oil or liquified petroleum gas (LPG) boiler will order fuel in advance.
                        </p>
                        <p class="govuk-body">
                            Storage heaters convert electricity to heat and provide that heat the next day.
                        </p>
                        <p class="govuk-body">
                            Direct acting electric heating refers to all electric radiators or
                            plug-in heaters that use electricity at the same time as they emit heat.
                        </p>
                        <p class="govuk-body">
                            A heat pump transfers heat energy from the outdoor environment inside,
                            either through a warm-air system or through radiators or underfloor heating
                        </p>
                     </text>;
                
                Func<object, object> epcHint = null;
                if (Model.Epc?.EpcHeatingType is not null)
                {
                    epcHint = 
                        @<p class="govuk-body">
                            Your @Model.Epc.LodgementYear Energy Performance Certificate suggests your main heating system is
                            <strong>
                                @(Model.Epc?.EpcHeatingType switch {
                                    EpcHeatingType.GasBoiler => "a gas boiler.",
                                    EpcHeatingType.OilBoiler => "an oil boiler.",
                                    EpcHeatingType.LpgBoiler => "an LPG boiler.",
                                    EpcHeatingType.Storage => "storage heating.",
                                    EpcHeatingType.DirectActionElectric => "direct action electric.",
                                    EpcHeatingType.HeatPump => "a heat pump.",
                                    EpcHeatingType.CoalOrSolidFuel or EpcHeatingType.Biomass or EpcHeatingType.Other => "of another type.",
                                    _ => throw new ArgumentOutOfRangeException()})
                            </strong>
                        </p>;
                }
                else
                {
                    epcHint =
                        @<p class="govuk-body">
                            The most common method of heating is with 
                            <strong>
                                a gas boiler.
                            </strong>
                        </p>;
                }
            }
            
            @(await Html.GovUkRadiosFor(m => m.HeatingType,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "What is your main heating system?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               @await Html.GovUkDetails(new DetailsViewModel
                               {
                                   SummaryText = "Help me answer this question",
                                   Html = details
                               })
                               
                               @if (epcHint is not null)
                               {
                                   @await Html.GovUkInsetText(new InsetTextViewModel
                                   {
                                       Classes = "sea-epc-hint",
                                       Html = epcHint
                                   })
                               }
                               
                               @await Html.GovUkWarningText(new WarningTextViewModel
                               {
                                   Text = "If you have more than one heating type, select the system that you use more often, or that is able to heat the whole home. For example, select ‘Oil boiler’ if you have an oil boiler and wood burning stove.",
                                   IconFallbackText = "Note",
                               })
                            </text>
                },
                radioHints: new Dictionary<HeatingType, HintViewModel>
                {
                    {
                        HeatingType.LpgBoiler,
                        new HintViewModel
                        {
                            Text = "You have an LPG boiler if you order gas deliveries to a tank in your garden"
                        }
                    },
                    {
                        HeatingType.DirectActionElectric,
                        new HintViewModel
                        {
                            Text = "This could include electric fires, fan heaters or electric radiators"
                        }
                    },
                }
            ))

            @await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            })
            
        </form>
        
    </div>
</div>
