@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.BusinessLogic.Models.Enums
@using HerPublicWebsite.Controllers

@model HerPublicWebsite.Models.EnergyEfficiency.HomeAgeViewModel
@{
    ViewBag.Title = "Property age";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="@Url.Action(nameof(EnergyEfficiencyController.HomeAge_Post), "EnergyEfficiency", new { reference = Model.Reference })" method="post" novalidate>
            @Html.AntiForgeryToken()
            @(Html.HiddenFor(m => m.EntryPoint))
            
            @{
                Func<object,object> details = 
                    @<text>
                        <p class="govuk-body">
                            You may find information about the age of the property in title deeds or other paperwork you received when
                            you bought your home, or home insurance paperwork.
                        </p>
                        <p class="govuk-body">
                            If your property is a conversion, enter the year the building was originally built, regardless of
                            what the building was used for before it was your home.
                        </p>
                        <p class="govuk-body">
                            If your property has been extended, enter the year of the oldest part of the building.
                        </p>
                     </text>;

                Func<object, object> blueBannerHint = null;
                if (Model.Epc?.ConstructionAgeBand is not null)
                {
                    blueBannerHint = 
                        @<p class="govuk-body">
                            Your @Model.Epc.LodgementYear Energy Performance Certificate suggests your property was built
                            <strong>
                                @(Model.Epc?.ConstructionAgeBand switch {
                                    HomeAge.Pre1900 or HomeAge.From1900To1929 => "before 1930.",
                                    HomeAge.From1930To1949 or HomeAge.From1950To1966 => "between 1930 and 1966.",
                                    HomeAge.From1967To1975 or HomeAge.From1976To1982 => "between 1967 and 1982.",
                                    HomeAge.From1983To1990 or HomeAge.From1991To1995 => "between 1983 and 1995.",
                                    HomeAge.From1996To2002 or HomeAge.From2003To2006 or HomeAge.From2007To2011 => "between 1996 and 2011.",
                                    HomeAge.From2012ToPresent => "on or after 2012.",
                                    _ => throw new ArgumentOutOfRangeException()})
                            </strong>
                        </p>;
                }
            }

            @(await Html.GovUkRadiosFor(m => m.YearBuilt,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Roughly what year was your property built?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   If you are unsure, choose 'I don't know'. We will take a best guess based on other information you provide.
                               </p>
                               
                               @await Html.GovUkDetails(new DetailsViewModel
                               {
                                   SummaryText = "Help me answer this question",
                                   Html = details
                               })

                               @if (blueBannerHint is not null)
                               {
                                   @await Html.GovUkInsetText(new InsetTextViewModel
                                   {
                                       Classes = "sea-epc-hint",
                                       Html = blueBannerHint
                                   })
                               }
                               
                            </text>
                    }))
            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
            }))

        </form>

    </div>
</div>