@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.BusinessLogic.Models.Enums
@using HerPublicWebsite.Controllers

@model HerPublicWebsite.Models.EnergyEfficiency.OtherHeatingTypeViewModel;
@{
    ViewBag.Title = "Other Heating Type";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.OtherHeatingType_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> blueBannerHint = null;
                if (Model.Epc?.EpcHeatingType is EpcHeatingType.Biomass or EpcHeatingType.CoalOrSolidFuel or EpcHeatingType.Other)
                {
                    blueBannerHint = 
                        @<p class="govuk-body">
                            Your @Model.Epc.LodgementYear Energy Performance Certificate suggests your main heating system is
                            <strong>
                                @(Model.Epc?.EpcHeatingType switch {
                                    EpcHeatingType.Biomass => "a biomass boiler.",
                                    EpcHeatingType.CoalOrSolidFuel => "coal or solid fuel heating.",
                                    EpcHeatingType.Other => "of another type.",
                                    _ => throw new ArgumentOutOfRangeException()})
                            </strong>
                        </p>;
                }
            }
            
            @(await Html.GovUkRadiosFor(m => m.OtherHeatingType,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "What is your main heating system?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               @if (blueBannerHint is not null)
                               {
                                   @await Html.GovUkInsetText(new InsetTextViewModel
                                   {
                                       Classes = "sea-epc-hint",
                                       Html = blueBannerHint
                                   })
                               }
                            </text>
                },
                radioHints: new Dictionary<OtherHeatingType, HintViewModel>
                {
                    {
                        OtherHeatingType.Biomass,
                        new HintViewModel
                        {
                            Text = "A biomass boiler burns wood logs, chips or pellets and provides your whole home with heating"
                        }
                    },
                    {
                        OtherHeatingType.CoalOrSolidFuel,
                        new HintViewModel
                        {
                            Text = "You have coal or solid fuel heating if you burn coal or other solid fuels in a fireplace or stove"
                        }
                    },
                }))

            @await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            })
            
        </form>
        
    </div>
</div>
