@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.Controllers

@model HerPublicWebsite.Models.EnergyEfficiency.YourRecommendationsViewModel
@{
    ViewBag.Title = "Your recommendations";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            You may be able to make some improvements to your home
        </h1>
        <p class="govuk-body">
            Based on the information you’ve given us, there may be some changes a qualified
            installer could make to your home to reduce the amount of energy it needs to use.
        </p>

        <p class="govuk-body">We’ve found <b>@Model.NumberOfPropertyRecommendations recommended improvement@(Model.NumberOfPropertyRecommendations == 1 ? "" : "s")</b> for you to consider.</p>

        <p class="govuk-body">
            We will advise you if your home needs to meet certain conditions for a given
            improvement to be effective for you.
        </p>

        <p class="govuk-body">
            If you like any of these recommendations, you can save them to your action plan before you move on.
        </p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Note</span>
                The costs and savings we provide are estimates and may not be the same in practice. 
                The savings displayed are based on the October 2022 energy price cap. 
                As energy prices change, so will the estimates of savings.
            </strong>
        </div>

        <h2 class="govuk-heading-l">
            Getting back to your recommendations once you leave
        </h2>

        <p class="govuk-body">
            You will need a reference code to return to your recommendations and action plan quickly if you leave the service.
        </p>

        <div class="sea-user-reference govuk-!-margin-bottom-6" role="complementary">
            <h3 class="govuk-body-l govuk-!-margin-bottom-0">Your reference code</h3>
            <span class="govuk-heading-l" id="subsection-title">@Model.Reference</span>
        </div>

        <form method="post" action="@Url.Action(nameof(EnergyEfficiencyController.YourRecommendations_Post), "EnergyEfficiency")">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.NumberOfPropertyRecommendations)
            @(await Html.GovUkCheckboxFromBoolFor(
                m => m.HasEmailAddress,
                label: new()
                {
                    Text = "Yes, email a link and the reference code to me"
                },
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Html = @<text>
                                   <h3 class="govuk-!-margin-bottom-4">
                                       Would you like us to email the above?
                                   </h3>
                                   <p class="govuk-body">We will send you a link to your recommendations and your reference code so you can quickly get back when you need to. If you do not wish to provide an email, make sure you make a note of your reference code.</p>
                                </text>,
                        Classes = "govuk-fieldset__legend--m",
                        IsPageHeading = true,
                    },
                },
                conditionalOption: new Conditional
                {
                    Html = (@<text>
                                @await Html.GovUkTextInputFor(
                                    m => m.EmailAddress,
                                    labelOptions: new LabelViewModel
                                    {
                                        Text = "Please enter your email",
                                    },
                                    classes: "govuk-input--width-20",
                                    autocomplete: "email",
                                    placeholder: "e.g. my.email@example.com"
                                    )
                             </text>)
                }))

            <div class="govuk-button-group">
                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Explore recommendations",
                    IsStartButton = true
                }))
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
</div>