@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.Controllers

@model SeaPublicWebsite.Models.EnergyEfficiency.ConfirmSingleAddressViewModel
@{
    ViewBag.Title = "Confirm your address";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@Url.Action(nameof(EnergyEfficiencyController.ConfirmSingleAddress_Post), "EnergyEfficiency", new { reference = Model.Reference, postcode = Model.Postcode, number = Model.Number })" method="post" novalidate>

                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.EpcId)
                <text>
                    <p class="govuk-caption-l">
                        Find your EPC
                    </p>

                    <h1 class="govuk-heading-l">
                        We found an Energy Performance Certificate that might be yours
                    </h1>

                    <p class="govuk-body">
                        This certificate may be registered to your property or one of the properties nearby that shares part of your address.
                    </p>
                </text>

                @await Html.GovUkNotificationBanner(new NotificationBannerViewModel
                {
                    Type = "null",
                    TitleHtml = @<div>Certificate</div>,
                    Html = @<text>
                               <div class="govuk-!-font-weight-bold">Registered address</div>
                               @(Model.EpcSearchResult.Address1)<br/>
                               @if (!string.IsNullOrWhiteSpace(Model.EpcSearchResult.Address2))
                               {
                                   @(Model.EpcSearchResult.Address2)
                                   <br/>
                               }
                               @(Model.EpcSearchResult.Postcode)
                            </text>,
                })
                @(await Html.GovUkRadiosFor(m => m.EpcAddressConfirmed,
                    fieldsetOptions: new FieldsetViewModel
                    {
                        Legend = new LegendViewModel
                        {
                            Text = "Is this your address?",
                            Classes = "govuk-fieldset__legend--m",
                            IsPageHeading = false
                        }
                    }))

                <div class="govuk-button-group">
                    @(await Html.GovUkButton(new ButtonViewModel
                    {
                        Text = "Continue",
                    }))
                </div>
            </form>
    </div>
</div>