@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.BusinessLogic.Models.Enums
@using SeaPublicWebsite.Controllers

@model SeaPublicWebsite.Models.EnergyEfficiency.FloorInsulatedViewModel
@{
    ViewBag.Title = "Floor Insulated";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.FloorInsulated_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @Html.AntiForgeryToken()
            @(Html.HiddenFor(m => m.EntryPoint))
            
            @{
                Func<object, object> details = 
                    @<text>
                        <p class="govuk-body">
                            A solid floor may be insulated by laying insulation on top or underneath a new floor.
                            If you’ve had to replace the ground floor, it’s likely insulated in order to comply with Building Regulations.
                        </p>
                        <p class="govuk-body">
                            A suspended timber floor can be insulated by lifting the floorboards and laying mineral wool
                            insulation supported by netting between the joists, or cutting rigid insulation boards to size.
                            It is possible done from below if there’s enough access to the cellar or crawl space.
                        </p>
                        <p class="govuk-body">
                            Suspended timber floors were rarely built with insulation, so this would need to have been installed after.
                        </p>
                     </text>;
                
                Func<object, object> blueBannerHint = null;
                if (Model.Epc?.FloorInsulated is not null)
                {
                    blueBannerHint = 
                        @<p class="govuk-body">
                            Your @Model.Epc.LodgementYear Energy Performance Certificate suggests your home's ground floor
                            <strong>
                                @(Model.Epc?.FloorInsulated switch {
                                    FloorInsulated.No => "is not insulated.",
                                    FloorInsulated.Yes => "is insulated.",
                                    _ => throw new ArgumentOutOfRangeException()})
                            </strong>
                        </p>;
                } else if (Model.HintUninsulatedFloor is not null)
                {
                    blueBannerHint =
                        @<p class="govuk-body">
                            Homes of your type typically have a
                            <strong>
                                @(Model.HintUninsulatedFloor is true ? "do not have insulated floors." : "have insulated floors.")
                            </strong>
                        </p>;
                }
            }
            
            @(await Html.GovUkRadiosFor(m => m.FloorInsulated,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "Is your ground floor insulated?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   Properties built before 1996 typically have uninsulated floors, unless you or a previous owner has installed floor insulation.
                               </p>
                               
                               @await Html.GovUkDetails(new DetailsViewModel
                               {
                                   SummaryText = "Help me answer this question",
                                   Html = details
                               })
                               
                               @if (blueBannerHint is not null)
                               {
                                   @await Html.GovUkInsetText(new InsetTextViewModel
                                   {
                                       Classes = "sea-epc-hint",
                                       Html = blueBannerHint
                                   })
                               }
                            </text>
                }))

            @await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            })
            
        </form>
        
    </div>
</div>
