@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.BusinessLogic.Models.Enums
@using SeaPublicWebsite.Controllers

@model SeaPublicWebsite.Models.EnergyEfficiency.HeatingPatternViewModel
@{
    ViewBag.Title = "Heating pattern";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="@Url.Action(nameof(EnergyEfficiencyController.HeatingPattern_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details =
                    @<text>
                        <p class="govuk-body">
                            You may have your heating on through the day but switch it off before you go to sleep at night.
                        </p>
                        <p class="govuk-body">
                            Some people may run their heating all night, or for a few hours overnight.
                        </p>
                     </text>;
            }
            @(await Html.GovUkRadiosFor(m => m.HeatingPattern,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "In winter, how do you typically heat your home?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                new HintViewModel
                {
                    Html = @<text>
                               <p class="govuk-body">
                                   We know heating use can vary throughout the year and from one day to the next.
                               </p>
                               <p class="govuk-body">
                                   Choose an answer that best resembles an average weekday in winter, or let us know a specific number of hours.
                               </p>
                               
                               @await Html.GovUkDetails(new DetailsViewModel
                               {
                                   SummaryText = "Help me answer this question",
                                   Html = details
                               })
                            </text>
                },
                conditionalOptions: new Dictionary<HeatingPattern, Conditional>
                {
                    {
                        HeatingPattern.Other,
                        new Conditional
                        {
                            Html = (@<text>
                                        @await Html.GovUkTextInputFor(
                                            m => m.HoursOfHeatingMorning,
                                            new LabelViewModel
                                            {
                                                Text = "Total whole number of hours in the morning (12am until 12pm)"
                                            },
                                            placeholder: "e.g. 6"
                                            )
                                        @await Html.GovUkTextInputFor(
                                            m => m.HoursOfHeatingEvening,
                                            new LabelViewModel
                                            {
                                                Text = "Total whole number of hours in the afternoon and evening (12pm until 12am)"
                                            },
                                            placeholder: "e.g. 6"
                                            )
                                     </text>)
                        }
                    }
                }))

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            }))

        </form>

    </div>
</div>